.btn {
  cursor: pointer;
  padding: 13px 30px;
  border: 1px solid hsl(224deg, 93%, 58%);
  color: hsl(240deg, 75%, 98%);
  background-color: hsl(224deg, 93%, 58%);
  border-radius: 4px;
  transition: all 0.25s ease-in;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  border-color: hsla(224deg, 93%, 58%, 0.8);
  background-color: hsla(224deg, 93%, 58%, 0.8);
}

.contact .btn:hover {
  border-color: hsla(224deg, 93%, 58%, 0.65);
  background-color: hsla(224deg, 93%, 58%, 0.65);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 80px);
}

@media (max-width: 767.98px) {
  .container {
    width: calc(100% - 30px);
  }
}
.list-style-none {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .content .image {
  width: 135px;
}
.navbar .content .image img {
  width: 100%;
  height: 100%;
}
.navbar .content .links ul {
  list-style: none;
}
.navbar .content .links ul li {
  display: inline-block;
  margin: 0;
}
.navbar .content .links ul li a {
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.navbar .content .links ul li:nth-child(2) {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 991.98px) {
  .navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .navbar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .content .image {
    width: 125px;
  }
  .navbar .content .image img {
    width: 100%;
    height: 100%;
  }
  .navbar .content .links ul {
    list-style: none;
  }
  .navbar .content .links ul li {
    display: inline-block;
    margin: 0;
  }
  .navbar .content .links ul li a {
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .navbar .content .links ul li:nth-child(2) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header .content .info {
  padding-right: 8%;
}
.header .content .info h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.35rem;
  margin: 0.35em 0;
}
.header .content .info p {
  font-size: 17px;
  line-height: 1.4;
  margin-top: 0.35em;
}
.header .content .info .form-content form input[type=email] {
  text-indent: 13px;
  padding-top: 13px;
  padding-bottom: 10px;
  margin-right: 10px;
  width: calc(100% - 235px);
  border-radius: 4px;
  border: 1px solid #000;
}
.header .content .info .form-content form input[type=email]:focus {
  border: none;
  outline: none;
}
.header .content .image img {
  width: 100%;
}

@media (max-width: 767.98px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header .content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .header .content .info {
    padding-right: 0;
    padding-bottom: 70px;
  }
  .header .content .info h1 {
    font-size: 1.9rem;
    margin-top: 2.7rem;
    margin-bottom: 1rem;
  }
  .header .content .info p {
    font-size: 1.24rem;
    margin-top: 0.35em;
    margin-bottom: 2.3rem;
    color: #000;
  }
  .header .content .info .form-content form input {
    display: block;
    width: 100%;
  }
  .header .content .info .form-content form input[type=email] {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .header .content .image {
    width: 300px;
  }
  .header .content .image img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .header .content {
    display: flex;
    align-items: center;
  }
  .header .content .info {
    padding-right: 5%;
  }
  .header .content .info h1 {
    font-size: 1.39rem;
  }
  .header .content .info p {
    font-size: 16px;
  }
  .header .content .info .form-content form input {
    display: block;
    width: 100%;
  }
  .header .content .info .form-content form input[type=email] {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .header .content .image img {
    width: 100%;
  }
}
.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: hsl(240deg, 75%, 98%);
}
.testimonials .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
.testimonials .row .info h2 {
  margin-top: 0;
  line-height: 1.5;
  font-size: 2.3rem;
  margin-bottom: 1.2rem;
}
.testimonials .row .info p {
  font-size: 17px;
  line-height: 1.5;
}
.testimonials .row .info a {
  color: hsl(170deg, 45%, 43%);
  border-bottom: 1px solid hsl(170deg, 45%, 43%);
  padding-bottom: 5px;
}
.testimonials .row .info a:hover {
  color: hsla(170deg, 45%, 43%, 0.8);
  border-bottom: 1px solid hsla(170deg, 45%, 43%, 0.8);
}
.testimonials .row .info .card {
  padding: 1.5rem 2rem;
  width: 390px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: 9%;
  margin-bottom: 10%;
}
.testimonials .row .info .card .card-body p {
  font-size: 16px;
  line-height: 1.65;
  margin-top: 0.5rem;
}
.testimonials .row .info .card .card-footer {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.testimonials .row .info .card .card-footer .image {
  width: 45px;
  height: 45px;
}
.testimonials .row .info .card .card-footer .image img {
  border-radius: 50%;
}
.testimonials .row .info .card .card-footer .user-info {
  padding-left: 1rem;
}
.testimonials .row .info .card .card-footer .user-info h3 {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: 1.15rem;
}
.testimonials .row .info .card .card-footer .user-info p {
  margin: 0;
  font-size: 14px;
}
.testimonials .row .image img {
  width: 100%;
}

@media (min-width: 1000px) {
  .curve-desktop {
    display: block;
    margin-bottom: -10px;
  }
  .curve-desktop img {
    width: 100%;
  }

  .curve-mobile {
    display: none;
  }
}
@media (max-width: 1000px) {
  .curve-desktop {
    display: none;
  }

  .curve-mobile {
    display: block;
  }
  .curve-mobile img {
    margin-top: 3rem;
    width: 100%;
    margin-bottom: -10px;
  }
}
@media (max-width: 767.98px) {
  .testimonials .row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 0%;
  }
  .testimonials .row .info h2 {
    font-size: 1.85rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .testimonials .row .info p {
    text-align: left;
  }
  .testimonials .row .info .card {
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials .row .info .card .card-body {
    text-align: left;
  }
  .testimonials .row .info .card .card-body p {
    font-size: 16px;
    line-height: 1.65;
    margin-top: 0.5rem;
  }
  .testimonials .row .info .card .card-footer .image {
    width: 40px;
    height: 40px;
  }
  .testimonials .row .info .card .card-footer .user-info {
    text-align: left;
  }
}
.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: hsl(238deg, 22%, 44%);
}
.contact .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
}
.contact .row .info h2 {
  color: #fff;
  margin-top: 0;
  font-size: 1.68rem;
  margin-bottom: 1rem;
}
.contact .row .info p {
  color: #fff;
  line-height: 1.7;
  margin-bottom: 0;
}
.contact .row .form-content form input[type=email] {
  text-indent: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.contact .row .form-content form input[type=email]:focus {
  border: none;
  outline: none;
}

@media (max-width: 767.98px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: hsl(238deg, 22%, 44%);
  }
  .contact .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0%;
  }
  .contact .row .info h2 {
    color: #fff;
    margin-top: 0;
    font-size: 1.68rem;
    margin-bottom: 1rem;
  }
  .contact .row .info p {
    color: #fff;
    line-height: 1.7;
    margin-bottom: 0;
  }
  .contact .row .form-content form input[type=email] {
    text-indent: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  }
  .contact .row .form-content form input[type=email]:focus {
    border: none;
    outline: none;
  }
}
.footer {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: hsl(243deg, 87%, 12%);
}
.footer .image {
  width: 150px;
  padding-bottom: 20px;
}
.footer .image img {
  width: 100%;
  height: 100%;
}
.footer .row {
  display: flex;
  justify-content: space-between;
}
.footer .row .box ul {
  padding: 0;
}
.footer .row .box.address-info ul li {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.footer .row .box.address-info ul li .icon {
  padding-right: 20px;
}
.footer .row .box.address-info ul li p {
  color: #fff;
  margin: 0;
}
.footer .row .box.links ul li {
  padding-bottom: 17px;
}
.footer .row .box.links ul li a {
  color: #fff;
  transition: all 0.25s ease-in;
}
.footer .row .box.links ul li a:hover {
  color: hsl(238deg, 22%, 44%);
}
.footer .row .box.links ul li:last-child {
  padding-bottom: 0;
}
.footer .row .box.social-media ul li {
  display: inline-block;
}
.footer .row .box.social-media ul li div {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.25s ease-in;
}
.footer .row .box.social-media ul li div a {
  color: #fff;
  display: block;
  transition: all 0.25s ease-in;
}
.footer .row .box.social-media ul li div:hover {
  border: 1px solid hsl(238deg, 22%, 44%);
}
.footer .row .box.social-media ul li div:hover a {
  color: hsl(238deg, 22%, 44%);
}
.footer .row .box.social-media ul li:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}

.copyrights {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid hsl(240deg, 75%, 98%);
  background-color: hsl(243deg, 87%, 12%);
}
.copyrights p {
  color: #fff;
  font-size: 15px;
}
.copyrights p a {
  color: hsl(170deg, 45%, 43%);
}

@media (max-width: 767.98px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer .image {
    width: 135px;
    padding-bottom: 15px;
  }
  .footer .row {
    justify-content: flex-start;
    flex-direction: column;
  }
  .footer .row .box ul {
    padding: 0;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
  }
  .footer .row .box ul li a {
    font-size: 15px;
  }
  .footer .row .box ul li p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
