// contact
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $desaturated-blue;
    // Row
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20%;
        // info
        .info {
            h2 {
                color: #fff;
                margin-top: 0;
                font-size: 1.68rem;
                margin-bottom: 1rem;
            }
            p{
                color: #fff;
                line-height: 1.7;
                margin-bottom: 0;
            }
        }

        // form content
        .form-content {
            form {
                input {
                    &[type="email"] {
                        text-indent: 10px;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        margin-bottom: 20px;
                        width: 100%;
                        border-radius: 4px;
                        border: 1px solid transparent;
                        box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 25%);
                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
// End of contact

@media (max-width: 767.98px) {
    // contact
    .contact {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $desaturated-blue;
        // Row
        .row {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0%;
            // info
            .info {
                h2 {
                    color: #fff;
                    margin-top: 0;
                    font-size: 1.68rem;
                    margin-bottom: 1rem;
                }
                p{
                    color: #fff;
                    line-height: 1.7;
                    margin-bottom: 0;
                }
            }

            // form content
            .form-content {
                form {
                    input {
                        &[type="email"] {
                            text-indent: 10px;
                            padding-top: 13px;
                            padding-bottom: 13px;
                            margin-bottom: 20px;
                            width: 100%;
                            border-radius: 4px;
                            border: 1px solid transparent;
                            box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 25%);
                            &:focus {
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
    // End of contact
}