// Global Rules
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
// End of Global Rules

// Container
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 80px);
}

@media (max-width: 767.98px) {
    .container {
        width: calc(100% - 30px);
    }
}
// End of Container