// Header
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    // Content 
    .content {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // info 
        .info {
            padding-right: 8%;

            h1 {
                font-family: 'Raleway', sans-serif;
                font-size: 2.35rem;
                margin: 0.35em 0;
            }
            p {
                font-size: 17px;
                line-height: 1.4;
                margin-top: 0.35em;
            }
            .form-content {
                form {
                    input {
                        &[type="email"] {
                            text-indent: 10px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            margin-right: 10px;
                            width: calc(100% - 235px);
                        }
                    }
                }
            }
        }
        // image
        .image {
            img {
                width: 100%;
            }
        }
    }
}
// End of header