// Header
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    // Content 
    .content {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // info 
        .info {
            padding-right: 8%;

            h1 {
                font-family: 'Raleway', sans-serif;
                font-size: 2.35rem;
                margin: 0.35em 0;
            }
            p {
                font-size: 17px;
                line-height: 1.4;
                margin-top: 0.35em;
            }
            .form-content {
                form {
                    input {
                        &[type="email"] {
                            text-indent: 13px;
                            padding-top: 13px;
                            padding-bottom: 10px;
                            margin-right: 10px;
                            width: calc(100% - 235px);
                            border-radius: 4px;
                            border: 1px solid #000;
                            &:focus {
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
        // image
        .image {
            img {
                width: 100%;
            }
        }
    }
}
// End of header

@media (max-width: 767.98px) {
    // Header
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        // Content 
        .content {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            // info 
            .info {
                padding-right: 0;
                padding-bottom: 70px;
                h1 {
                    font-size: 1.9rem;
                    margin-top: 2.7rem;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 1.24rem;
                    margin-top: 0.35em;
                    margin-bottom: 2.3rem;
                    color: #000;
                }
                .form-content {
                    form {
                        input {
                            display: block;
                            width: 100%;
                            &[type="email"] {
                                width: 100%;
                                margin-bottom: 20px;
                                padding-top: 13px;
                                padding-bottom: 13px;
                            }
                        }
                    }
                }
            }
            // image
            .image {
                width: 300px;
                img {
                    width: 100%;
                }
            }
        }
    }
    // End of header
}

@media (min-width: 768px) and (max-width: 991.98px){
    // Header
    .header {
        padding-top: 20px;
        padding-bottom: 60px;
        // Content 
        .content {
            display: flex;
            align-items: center;
            // info 
            .info {
                padding-right: 5%;

                h1 {
                    font-size: 1.39rem;
                }
                p {
                    font-size: 16px;
                }
                .form-content {
                    form {
                        input {
                            display: block;
                            width: 100%;
                            &[type="email"] {
                                width: 100%;
                                margin-bottom: 20px;
                                padding-top: 13px;
                                padding-bottom: 13px;
                            }
                        }
                    }
                }
            }
            // image
            .image {
                img {
                    width: 100%;
                }
            }
        }
    }
    // End of header
}