// Form Button
.btn {
    cursor: pointer;
    padding: 13px 30px;
    border: 1px solid $bright-blue;
    color: $light-grayish-blue;
    background-color: $bright-blue;
    border-radius: 4px;
    transition: all .25s ease-in;
    box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 25%);
    &:hover {
        border-color: hsl(224deg 93% 58% / 80%);
        background-color: hsl(224deg 93% 58% / 80%);

    }
}
// End of Form Button
.contact {
    .btn {
        
        &:hover {
            border-color: hsl(224deg 93% 58% / 65%);
            background-color: hsl(224deg 93% 58% / 65%);
    
        }
    }
}
